<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head('Admin Users')"></th:block>
<body>
<th:block th:replace="fragments/header :: header"></th:block>

<div class="page">
    <h2>Користувачі</h2>

    <div class="table">
        <div class="tr th">
            <div>Email</div><div>ПІБ</div><div>Ролі</div><div>Дія</div>
        </div>

        <div class="tr" th:each="u : ${users}">
            <div th:text="${u.email}"></div>
            <div th:text="${u.fullName}"></div>
            <div th:text="${u.roles}"></div>
            <div class="row-actions">
                <form th:action="@{/admin/users/{id}/make-admin(id=${u.id})}" method="post">
                    <button class="btn ghost">Make ADMIN</button>
                </form>
                <form th:action="@{/admin/users/{id}/make-user(id=${u.id})}" method="post">
                    <button class="btn danger">Remove ADMIN</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
